<div class="user-form">
  <h1>User Form</h1>
  <h3>Here you will be able to manage the user data!</h3>

  <div class="grid column-fixed-1 fluid space">
    <div>
      <div>Name</div>
      <input type="text" [(ngModel)]="user.name">
    </div>
  </div>

  <div class="grid column-auto-md fluid">
    <div>
      <div>Username</div>
      <input type="text" [(ngModel)]="user.username">
    </div>
    <div>
      <div>Password</div>
      <input type="password" [(ngModel)]="user.password">
    </div>
    <div>
      <div>Created Date</div>
      <input type="date" [(ngModel)]="user.createdDate">
    </div>
    <div>
      <div>Updated Date</div>
      <input type="date" [(ngModel)]="user.updatedDate">
    </div>
    <div>
      <div>E-Mail</div>
      <input type="email" [(ngModel)]="user.email">
    </div>
    <div>
      <div>Is Admin</div>
      <input type="checkbox" [(ngModel)]="user.admin">
    </div>
  </div>

  <div class="grid fluid" style="padding-top: 30px;">
    <input type="button" value="Confirm" (click)="executeInsert(user)" />
  </div>
</div>