.user-form {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 8px;
	margin-bottom: 8px;;
}

.user-form h1 {
  margin: 0px;
}

.grid {
	display: grid;
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

.column-auto-sm {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-flow: row;
}

.column-auto-md {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
}

.column-auto-lg {
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-auto-flow: row;
}

.column-fixed-1 {
	grid-template-columns: 1fr;
}

.column-fixed-2 {
	grid-template-columns: 1fr 1fr;
}

.column-fixed-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.column-fixed-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-fixed-5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.fluid input[type=text], input[type=password], input[type=email], .fluid input[type=button], .fluid input[type=date], input[type=number], .fluid input[type=file], .fluid select, .fluid button, .fluid textarea {
	width: 100% !important;
	box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
}

.space {
  padding-bottom: 8px;
}

.vertical-center {
	display: grid;
	align-items: center;
}