<div class="user-form">
  <h1>User List</h1>
  <h3>Here you can see the user list!</h3>

  <div style="	max-height: 300px; overflow: auto;">
    <span *ngFor="let user of userList">

      <div class="grid column-fixed-1 space">
        <div class="field">
          <div class="bold">Name</div>
          <div>{{ user.name }}</div>
        </div>
      </div>

      <div class="grid column-auto-md">
        <div class="field">
          <div class="bold">Identity</div>
          <div>{{ user.identity }}</div>
        </div>
        <div class="field">
          <div class="bold">Username</div>
          <div>{{ user.username }}</div>
        </div>
        <div class="field">
          <div class="bold">Password</div>
          <div>{{ user.password }}</div>
        </div>
        <div class="field">
          <div class="bold">Created Date</div>
          <div>{{ user.createdDate }}</div>
        </div>
        <div class="field">
          <div class="bold">Updated Date</div>
          <div>{{ user.updatedDate }}</div>
        </div>
        <div class="field">
          <div class="bold">E-Mail</div>
          <div>{{ user.email }}</div>
        </div>
        <div class="field">
          <div class="bold">Is Admin?</div>
          <div>{{ user.admin }}</div>
        </div>
      </div>

      <div class="grid column-auto-md" style="padding: 30px 0px 25px 0px;">
        <input type="button" value="Update" (click)="prepareUpdate(user)" />
        <input type="button" value="Delete" (click)="executeDelete(user)" />
      </div>

      <hr>

    </span>
  </div>
</div>